<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <%- include('./partials/navBar') %> <%- include('./partials/errors.ejs') %>

    <div class="joinContainer">
      <% if (locals.currentUser) { %> <% if
      (locals.currentUser.membership_status) { %>
      <h1>
        You are already a member of MM. Please head back to <a href="/">Home</a>
      </h1>
      <%} else { %>
      <h1><%= currentUser.first_name%>, would you like to join as a MM?</h1>
      <form action="/join" method="POST">
        <fieldset>
          <legend>Join Us!</legend>
          <label for="secret">Enter MM's Secret</label>
          <input type="password" name="secret" id="secret" required />

          <input
            type="text"
            name="admin"
            id="admin"
            placeholder="Admin (Optional)"
          />

          <button type="submit">Join</button>
        </fieldset>
      </form>
      <%}%> <%} else { %>
      <h1>Looks like you are not logged in yet.</h1>
      <h2>
        Please <a href="/login">Login</a> Or <a href="/sign-up">Sign Up!</a>
      </h2>
      <%}%>
    </div>
  </body>
</html>
