<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <%- include('./partials/navBar') %>
    <div class="loginContainer">
      <% if (user) { %>
      <div class="loged">
        <h2>
          Hello <%= user.first_name + " " + user.last_name %>, looks like you
          are already logged in!
        </h2>
        <h3>
          Click here to <a href="/">Home</a> or <a href="/logout">Logout</a>
        </h3>
      </div>
      <%} else {%> <% if (locals.signedUp) { %>
      <h2>Successfully signed up. Please log in.</h2>
      <% } else if (locals.auth) { %>
      <h2>Incorrect Username or Password, please try again</h2>
      <% } %>
      <form action="/login" method="POST">
        <fieldset>
          <legend>Login</legend>
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            placeholder="username"
            type="text"
          />
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="password"
          />
          <button>Login</button>
        </fieldset>

        <h2>
          Or
          <a href="/sign-up">Sign Up</a>
        </h2>
      </form>
      <%}%>
    </div>
  </body>
</html>
