<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <%- include('./partials/navBar') %> <%- include('./partials/errors.ejs') %>
    <% if (locals.user) { %>
    <div class="messageFormContainer">
      <form action="/message-form" method="post">
        <fieldset>
          <legend>Share a Mumble!</legend>
          <label for="message">Mumble:</label>
          <textarea
            name="message"
            id="message"
            placeholder="yip yap..."
          ></textarea>

          <button type="submit">Share</button>
        </fieldset>
      </form>
    </div>
    <%} else { %>
    <h1>Looks like you are not logged in yet.</h1>
    <h2>
      Please <a href="/login">Login</a> Or <a href="/sign-up">Sign Up!</a>
    </h2>
    <%}%>
  </body>
</html>
