<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <%- include('./partials/navBar') %> <%- include('./partials/errors.ejs') %>
    <% if (locals.currentUser) { %>
    <div class="loged">
      <h2>
        Hello <%= currentUser.first_name + " " + currentUser.last_name %>, looks
        like you are already logged in!
      </h2>
      <h3>
        Click here to <a href="/">Home</a> or <a href="/logout">Logout</a>
      </h3>
    </div>
    <%} else {%>
    <div class="signupContainer">
      <form action="/sign-up" method="POST">
        <fieldset>
          <legend>Sign Up</legend>
          <label for="first_name">First name</label>
          <input
            id="first_name"
            name="first_name"
            placeholder="John"
            type="text"
          />
          <label for="last_name">Last name</label>
          <input
            id="last_name"
            name="last_name"
            placeholder="Doe"
            type="text"
          />
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            placeholder="example@email.com"
            type="email"
          />
          <label for="password">Password</label>
          <input id="password" name="password" type="password" />
          <label for="confirm_password">Confirm Password</label>
          <input
            id="confirm_password"
            name="confirm_password"
            type="password"
          />
          <button>Sign Up</button>
        </fieldset>
      </form>
    </div>
    <%}%>
  </body>
</html>
