* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: underline;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

nav.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin: 1em;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  text-decoration: underline;
}

nav .title {
  font-weight: bold;
  font-size: 2em;
}

div.headContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
div.headContainer h1 {
  font-size: 2em;
  font-weight: bold;
}
div.headContainer h1 span {
  color: rgb(0, 159, 222);
}

div.messages {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
div.messageContainer {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 10px;

  min-width: 500px;
}

div.messageTitle {
  display: flex;
  justify-content: space-between;
}
div.messageTitle form button {
  border: none;
  background-color: white;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
div.messageContainer h1 {
  color: rgb(71, 71, 71);
  font-weight: bold;
  font-size: 1.3em;
}

div.messageContainer h2 {
  margin-top: 5px;
  font-style: italic;
}
div.messageContainer p {
  margin-top: 10px;
}
div.loginContainer,
div.signupContainer,
div.joinContainer,
div.messageFormContainer,
div.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2em;
  border-radius: 10px;
  font-size: 1.2em;
}

div.profileContainer {
  gap: 1em;
}

div.joinContainer {
  gap: 1em;
}

div.loginContainer form fieldset,
div.signupContainer form fieldset,
div.joinContainer form fieldset,
div.messageFormContainer form fieldset,
div.profileContainer form fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
div.loginContainer form fieldset input,
div.signupContainer form fieldset input,
div.joinContainer form fieldset input,
div.messageFormContainer form fieldset textarea,
div.messageFormContainer form fieldset input,
div.profileContainer form fieldset input {
  padding: 1em;
  border: none;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  min-width: 300px;
}

div.messageFormContainer form fieldset input {
  background-color: white;
  font-weight: bold;
  padding: 0;
  border-radius: 0%;
  font-size: 1.2em;
}

div.messageFormContainer form fieldset textarea {
  min-width: 300px;
  resize: vertical;
}

div.loginContainer form fieldset button,
div.signupContainer form fieldset button,
div.joinContainer form fieldset button,
div.messageFormContainer form fieldset button,
div.profileContainer form fieldset button {
  padding: 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(0, 183, 255);
  color: white;
}
div.loginContainer form fieldset button:hover,
div.signupContainer form fieldset button:hover,
div.joinContainer form fieldset button:hover,
div.messageFormContainer form fieldset button:hover,
div.profileContainer form fieldset button:hover {
  background-color: rgb(0, 150, 210);
  transition: background-color 200ms ease;
}

div.profileContainer a.logoutBtn {
  color: red;
}
div.profileContainer a.logoutBtn:hover,
div.messageTitle form button:hover {
  color: crimson;
}

div.loginContainer form h2 {
  margin-top: 1em;
  text-align: center;
}
div.loginContainer form h2 a {
  font-weight: bold;
  text-decoration: underline;
}
div.formError {
  display: flex;
  justify-content: center;
}
ul.errorUL {
  font-weight: bold;
  color: rgb(214, 41, 41);
}
ul.errorUL li {
  list-style-type: disc;
}
